@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merriweather Sans";
    color: #111111c6;
}

* a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
}

section {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}

.container {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.center-v {
    justify-content: center;
}

.center-h {
    align-items: center;
}

.wrapper {
    width: 60%;
    min-height: 100vh;
    background-color: rgba(248, 248, 248, 0.227);
}

.main {
    padding: 50px;
}

.info {
    line-height: 1.6;
}

.info p {
    font-size: 16px;
}

.info p:not(:last-child) {
    margin-bottom: 5px;
}

.info h1 {
    margin-bottom: 10px;
}

.info a:link,
.info a:visited {
    text-decoration: none;
    color: rgb(7, 139, 120);
}

.info a:hover {
    text-decoration: underline;
    color: rgb(5, 86, 74);
}

.skills h3 {
    margin-bottom: 15px;
}

.skills ul {
    list-style-type: none;
}

.skills ul:not(:last-child) {
    margin-bottom: 10px;
}

.skills p {
    margin-bottom: 8px;
}

.skills ul>li:before {
    content: "- ";
    text-indent: -5px;
}

.skills li:not(:last-child) {
    margin-bottom: 3px;
}

#photo {
    max-width: 190px;
    margin-left: 20px;
}

.contacts>*:not(:first-child) {
    margin-left: 5px;
}

#email, #delimiter {
    color: rgb(131, 131, 131);
    font-size: 14px;
}

.icons>*:not(:first-child) {
    margin-left: 5px;
}

.icons a {
    opacity: 80%;
}

.contacts a:hover {
    opacity: 100%;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .wrapper {
        width: 100%;
    }

    .about {
        flex-direction: column-reverse;
        align-items: center;
    }

    .name {
        justify-content: center;
    }

    #delimiter {
        display: none;
    }

    .contacts {
        align-items: center;
        justify-content: space-between;
    }
}